--
-- PostgreSQL database dump
--

\restrict oVxToJ3fMAWEl3aktms7a9wg02DPsL3Tq9nIt69imHrCqqvKpe8UCWQsU7EirVm

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.solutions DROP CONSTRAINT IF EXISTS solutions_submitted_by_fkey;
ALTER TABLE IF EXISTS ONLY public.solutions DROP CONSTRAINT IF EXISTS solutions_status_id_fkey;
ALTER TABLE IF EXISTS ONLY public.solutions DROP CONSTRAINT IF EXISTS solutions_challenge_id_fkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.news DROP CONSTRAINT IF EXISTS news_author_fkey;
ALTER TABLE IF EXISTS ONLY public.challenges DROP CONSTRAINT IF EXISTS challenges_created_by_fkey;
ALTER TABLE IF EXISTS ONLY public.access_logs DROP CONSTRAINT IF EXISTS access_logs_user_id_fkey;
DROP TRIGGER IF EXISTS update_users_updated_at ON public.users;
DROP TRIGGER IF EXISTS update_solutions_updated_at ON public.solutions;
DROP TRIGGER IF EXISTS update_solution_statuses_updated_at ON public.solution_statuses;
DROP TRIGGER IF EXISTS update_program_info_updated_at ON public.program_info;
DROP TRIGGER IF EXISTS update_news_updated_at ON public.news;
DROP TRIGGER IF EXISTS update_how_to_participate_updated_at ON public.how_to_participate;
DROP TRIGGER IF EXISTS update_geral_updated_at ON public.geral;
DROP TRIGGER IF EXISTS update_events_updated_at ON public.events;
DROP TRIGGER IF EXISTS update_challenges_updated_at ON public.challenges;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.solutions DROP CONSTRAINT IF EXISTS solutions_pkey;
ALTER TABLE IF EXISTS ONLY public.solution_statuses DROP CONSTRAINT IF EXISTS solution_statuses_pkey;
ALTER TABLE IF EXISTS ONLY public.program_info DROP CONSTRAINT IF EXISTS program_info_pkey;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS ONLY public.news DROP CONSTRAINT IF EXISTS news_pkey;
ALTER TABLE IF EXISTS ONLY public.how_to_participate DROP CONSTRAINT IF EXISTS how_to_participate_pkey;
ALTER TABLE IF EXISTS ONLY public.geral DROP CONSTRAINT IF EXISTS geral_pkey;
ALTER TABLE IF EXISTS ONLY public.events DROP CONSTRAINT IF EXISTS events_pkey;
ALTER TABLE IF EXISTS ONLY public.challenges DROP CONSTRAINT IF EXISTS challenges_pkey;
ALTER TABLE IF EXISTS ONLY public.access_logs DROP CONSTRAINT IF EXISTS access_logs_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.solutions;
DROP TABLE IF EXISTS public.solution_statuses;
DROP TABLE IF EXISTS public.program_info;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.news;
DROP TABLE IF EXISTS public.how_to_participate;
DROP TABLE IF EXISTS public.geral;
DROP TABLE IF EXISTS public.events;
DROP TABLE IF EXISTS public.challenges;
DROP TABLE IF EXISTS public.access_logs;
DROP FUNCTION IF EXISTS public.update_updated_at_column();
DROP TYPE IF EXISTS public.user_role;
DROP TYPE IF EXISTS public.content_status;
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: content_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.content_status AS ENUM (
    'draft',
    'published',
    'archived',
    'open',
    'in_progress',
    'closed'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'challenger',
    'solver',
    'admin',
    'advanced'
);


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.access_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    path text NOT NULL,
    method text DEFAULT 'GET'::text,
    ip_address text,
    user_agent text,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    metadata jsonb DEFAULT '{}'::jsonb
);


--
-- Name: challenges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenges (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    axis text NOT NULL,
    modality text,
    proposer text,
    contact_phone text,
    contact_email text,
    relationship_type text,
    start_date date,
    end_date date,
    deadline timestamp with time zone,
    expected_results text,
    benefits text,
    attachments jsonb DEFAULT '[]'::jsonb,
    status public.content_status DEFAULT 'draft'::public.content_status NOT NULL,
    banner_url text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    location text,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    image_url text,
    link text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: geral; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.geral (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    contact_phone text DEFAULT '(67) 3318-3500'::text NOT NULL,
    facebook_url text,
    instagram_url text,
    linkedin_url text,
    youtube_url text,
    ouvidoria_url text,
    transparencia_url text,
    servicos_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: how_to_participate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.how_to_participate (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    section text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    order_index integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: news; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.news (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    summary text NOT NULL,
    content text NOT NULL,
    image_url text,
    author uuid,
    published_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    message text NOT NULL,
    read boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: program_info; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.program_info (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    section text,
    order_index integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: solution_statuses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.solution_statuses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    message text,
    color character varying(20),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: solutions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.solutions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    challenge_id uuid,
    submitted_by uuid,
    title text NOT NULL,
    description text NOT NULL,
    axis text,
    benefits text,
    team_name text,
    participant_type text,
    problem_solved text,
    contribution_objectives text,
    direct_beneficiaries text,
    detailed_operation text,
    solution_differentials text,
    territory_replication text,
    required_resources text,
    validation_prototyping text,
    success_indicators text,
    established_partnerships text,
    solution_continuity text,
    linkedin_link text,
    instagram_link text,
    portfolio_link text,
    attachments jsonb DEFAULT '[]'::jsonb,
    document_1_url text,
    document_2_url text,
    document_3_url text,
    status_id uuid,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255),
    full_name character varying(255) NOT NULL,
    role public.user_role DEFAULT 'solver'::public.user_role NOT NULL,
    cpf_cnpj character varying(20),
    phone character varying(20),
    organization character varying(255),
    avatar_url text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Data for Name: access_logs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.access_logs (id, user_id, path, method, ip_address, user_agent, "timestamp", metadata) VALUES ('9dc4654d-2a71-40f2-a37e-65a61922be45', NULL, '/auth', 'GET', '::ffff:172.18.0.1', 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36', '2025-12-20 03:00:39.80156+00', '{"language": "pt-PT", "platform": "Win32", "referrer": "http://localhost:8080/dashboard", "screen_width": 964, "screen_height": 650}');
INSERT INTO public.access_logs (id, user_id, path, method, ip_address, user_agent, "timestamp", metadata) VALUES ('2ee4ecec-c82b-4bf2-9615-253a8b7b47d0', 'c4457a3d-f3c6-41ed-a668-541ed5529aee', '/dashboard', 'GET', '::ffff:172.18.0.1', 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36', '2025-12-20 03:00:40.925488+00', '{"language": "pt-PT", "platform": "Win32", "referrer": "http://localhost:8080/dashboard", "screen_width": 964, "screen_height": 650}');
INSERT INTO public.access_logs (id, user_id, path, method, ip_address, user_agent, "timestamp", metadata) VALUES ('7ec75f0f-8d12-459e-b18a-65faa15ac09f', 'c4457a3d-f3c6-41ed-a668-541ed5529aee', '/dashboard', 'GET', '::ffff:172.18.0.1', 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36', '2025-12-20 03:00:56.26221+00', '{"language": "pt-PT", "platform": "Win32", "referrer": "http://localhost:8080/dashboard", "screen_width": 964, "screen_height": 650}');


--
-- Data for Name: challenges; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: geral; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.geral (id, contact_phone, facebook_url, instagram_url, linkedin_url, youtube_url, ouvidoria_url, transparencia_url, servicos_url, created_at, updated_at) VALUES ('4317f323-b205-4385-8580-91fe737d26a2', '(81) 98888-6020', 'https://GOOGLE.com.br', 'https://GOOGLE.com.br', 'https://GOOGLE.com.brhttps://GOOGLE.com.br', 'https://GOOGLE.com.brhttps://GOOGLE.com.br', 'https://GOOGLE.com.br', 'https://GOOGLE.com.br', 'https://GOOGLE11.com.br', '2025-12-19 18:28:01.4622+00', '2025-12-19 21:42:25.048043+00');


--
-- Data for Name: how_to_participate; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.how_to_participate (id, section, title, content, order_index, created_at, updated_at) VALUES ('8562a596-f686-4769-a079-19c4f65f7e8f', 'wewewew', 'ewewe', '<p>wewewew</p>', 2, '2025-12-19 20:51:52.922351+00', '2025-12-19 20:51:52.922351+00');


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: program_info; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.program_info (id, title, content, section, order_index, created_at, updated_at) VALUES ('8cb3f40a-d605-4e41-ac96-fb5d9e959aa1', 'ewewe', '<p>wewewew<strong>ewe</strong></p>', 'wewewewe', 5, '2025-12-19 20:51:41.518455+00', '2025-12-19 20:51:41.518455+00');


--
-- Data for Name: solution_statuses; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.solution_statuses (id, name, description, message, color, created_at, updated_at) VALUES ('4f2c7e1f-154a-4c57-9ff9-1a11109cc55f', 'STATUS 01', NULL, NULL, NULL, '2025-12-19 20:39:38.816336+00', '2025-12-19 20:39:38.816336+00');


--
-- Data for Name: solutions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: access_logs access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_pkey PRIMARY KEY (id);


--
-- Name: challenges challenges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: geral geral_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.geral
    ADD CONSTRAINT geral_pkey PRIMARY KEY (id);


--
-- Name: how_to_participate how_to_participate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.how_to_participate
    ADD CONSTRAINT how_to_participate_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: program_info program_info_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.program_info
    ADD CONSTRAINT program_info_pkey PRIMARY KEY (id);


--
-- Name: solution_statuses solution_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solution_statuses
    ADD CONSTRAINT solution_statuses_pkey PRIMARY KEY (id);


--
-- Name: solutions solutions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: challenges update_challenges_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_challenges_updated_at BEFORE UPDATE ON public.challenges FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: events update_events_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_events_updated_at BEFORE UPDATE ON public.events FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();



--
-- Name: geral update_geral_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_geral_updated_at BEFORE UPDATE ON public.geral FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: how_to_participate update_how_to_participate_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_how_to_participate_updated_at BEFORE UPDATE ON public.how_to_participate FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: news update_news_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_news_updated_at BEFORE UPDATE ON public.news FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: program_info update_program_info_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_program_info_updated_at BEFORE UPDATE ON public.program_info FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: solution_statuses update_solution_statuses_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_solution_statuses_updated_at BEFORE UPDATE ON public.solution_statuses FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: solutions update_solutions_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_solutions_updated_at BEFORE UPDATE ON public.solutions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: access_logs access_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: challenges challenges_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: news news_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_author_fkey FOREIGN KEY (author) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: solutions solutions_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: solutions solutions_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.solution_statuses(id);


--
-- Name: solutions solutions_submitted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_submitted_by_fkey FOREIGN KEY (submitted_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict oVxToJ3fMAWEl3aktms7a9wg02DPsL3Tq9nIt69imHrCqqvKpe8UCWQsU7EirVm

